.nav {
	height: 80px;
	width: 90%;
	margin: 0 auto;

	display: flex;
	align-items: center;
    justify-content: space-around;
    
}

.nav__toggler {
	border: none;
	background-color: transparent;
	width: 50px;
	height: 50px;
	border-radius: 50%;

    transition: all 0.3s linear;
    cursor: pointer;

	i {
		font-size: 24px;
	}

	&:active {
		background-color: $color-gray;
	}
}

.nav__brand {
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: $color-black;

    .text-underline{
        text-decoration: underline;
    }
}



.nav__menu {
	display: none;
}

.nav__list {
	display: none;
}

.nav__icons {
	display: flex;
	align-items: center;
	justify-content: space-around;

	.icon-item {
		border-radius: 50%;
		width: 25px;
		height: 25px;
		border: 1px solid $color-black;
		color: $color-black;

		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 5px;

		text-decoration: none;

		i {
			font-size: 13px;
		}
	}
}
