header {
	border-bottom: 1px solid $color-gray;
}

.nav {
	height: 80px;
	width: 90%;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__toggler {
	border: none;
	background-color: transparent;
	width: 50px;
	height: 50px;
	border-radius: 50%;

	transition: all 0.3s linear;
	cursor: pointer;

	i {
		font-size: 24px;
	}

	&:active {
		background-color: $color-gray;
	}
}

.nav__brand {
	text-decoration: none;
	font-weight: 600;
	font-size: 30px;
	color: $color-black;

	.text-underline {
		text-decoration: underline;
	}
}

.menu__top {
	display: none;
}

.nav__list {
	display: none;
	list-style: none;

	.nav__item {
		a {
			text-decoration: none;
			color: $color-black;
			text-transform: uppercase;
			font-size: 20px;

			transition: all 0.3s linear;

			&:hover {
				color: $color-red;
			}
		}
	}
}

body.open-menu::before {
	content: "";

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.7);
}

.nav__menu {
	display: block;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 250px;
	height: 100%;
	background-color: $color-white;

	transition: all 0.3s ease-in-out;

	.menu__top {
		display: flex;
		align-items: center;
		justify-content: space-between;

		background-color: #f2f2f2;
		border-bottom: 1px solid $color-gray;
		padding: 10px 20px;
	}

	.nav__list {
		display: flex;
		flex-direction: column;

		.nav__item {
			padding: 20px;

			a {
				transition: none;
			}

			&:active {
				background-color: $color-gray;

				a {
					color: $color-red;
				}
			}
		}
	}

	.nav__brand {
		color: $color-black;
	}

	.close__toggle {
		i {
			color: $color-black;
			font-size: 24px;

			&:active {
				color: white;
			}
		}
	}

	&.is-closed {
		transform: translateX(-100%);
	}
}

.nav__icons {
	display: flex;
	align-items: center;
	justify-content: space-around;

	.icon-item {
		border-radius: 50%;
		width: 25px;
		height: 25px;
		border: 1px solid $color-black;
		color: $color-black;

		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 5px;

		text-decoration: none;
		transition: all 0.3s linear;

		i {
			font-size: 13px;
		}

		&:hover {
			background-color: $color-orange;

			i {
				color: $color-white;
			}
		}
	}
}

@media only screen and (min-width: 500px) {
	.nav__brand {
		font-size: 35px;
	}

	.nav__icons {
		.icon-item {
			width: 35px;
			height: 35px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.nav__toggler {
		display: none;
	}

	.nav__menu {
		&.is-closed {
			transform: translateX(0);
		}

		position: static;
		width: auto;
		height: auto;
		background-color: transparent;

		.menu__top {
			display: none;
		}

		.nav__list {
			flex-direction: row;

			.nav__item {
				margin-right: 20px;
				padding: 0;
			}

			.active {
				a {
					color: $color-red;
				}
			}
		}
	}

	body.open-menu::before{
		display: none;
	}


}