
/* COLOR */
$color-white: #fafafa;
$color-black: #2d3436;
$color-blue: #0984e3;
$color-red: #d63031;

/* GOOGLE FONT */
$font-baloo: 'Baloo Thambi 2', cursive;
$font-raleway: 'Raleway', sans-serif;
$font-rubik: 'Rubik', sans-serif;